[submodule "server/external/mongoose"]
	path = server/external/mongoose
	url = https://github.com/TransNeptunianStudios/mongoose
[submodule "server/external/entityx"]
	path = server/external/entityx
	url = https://github.com/alecthomas/entityx
