[submodule "server/external/mongoose"]
	path = server/external/mongoose
	url = https://github.com/TransNeptunianStudios/mongoose
[submodule "server/external/parson"]
	path = server/external/parson
	url = https://github.com/TransNeptunianStudios/parson
